{%- if influencer -%}
  
  {%- assign mainAltText = product.title | append: ' - Influencer' -%}
  
  <div class="grid">
    <div class="image">
      {{ influencer.main_image | image_url: width: 800 | image_tag: alt: mainAltText }}
    </div>
    <div class="content">
      <blockquote>
        {{ influencer.testimonial | metafield_tag }}
        <footer>
          <cite>
            {%- if influencer.signature_image -%}
              {{ influencer.signature_image | image_url: width: 200 | image_tag: alt: influencer.name }}
            {%- else -%}
              <small>{{ influencer.name }}</small>
            {%- endif -%}
          </cite>
        </footer>
      </blockquote>
    </div>
  </div>
{%- endif -%}
